title: Lowo's blog
subtitle: ''
description: Lowo's blog
keywords: [Java,Python,AI,面试,部署,博客,Linux,Cpp,c++,cpp,鸡汤,生活,技术,学习,分享,记录,笔记,教程,教学]
author: Lowo
language: zh-CN
timezone: 'Asia/Hong_Kong'

# 如果你希望网站部署在 <你的 GitHub 用户名>.github.io 的子目录中：
# 建立名为 <repository 的名字> 的储存库，这样你的博客网址为 <你的 GitHub 用户名>.github.io/<repository 的名字>，repository 的名字可以任意，例如 blog 或 hexo。
# 编辑你的 _config.yml，将 url: 更改为 <你的 GitHub 用户名>.github.io/<repository 的名字>。
# 在储存库中前往 Settings > Pages > Source，并将 Source 改为 GitHub Actions。
# Commit 并 push 到默认分支上。
# 部署完成后，前往 https://<你的 GitHub 用户名>.github.io/<repository 的名字> 查看网站。
url: https://blog.lowoneko.eu.org # https://jlower.github.io/blog
# 站点地图
sitemap:
  path: sitemap.xml  #站点地图文件名称
baidusitemap:
  path: baidusitemap.xml #站点地图文件名称

# 现在我的设置是要求在同一天内不能有同样标题的文章，否则生成的链接会重复，和默认设置 permalink: ':year/:month/:day/:title/' 一样 (这样要求每篇文章必须要填 date: 创建日期)
# permalink: ':year/:month/:day/:title/'
permalink: posts/:year:month:day-:abbrlink/ # 设置了 :year:month:day- 所以改文章的创建日期链接会变(文章 date: 后面的是创建日期， update: 后面的是更新日期，不填 update: 则更新时间默认为最新一次网站的部署时间)
# abbrlink config
# 会自动为每篇文章生成 abbrlink (根据文章的标题)，也可以自己手动输入abbrlink(如果文章已经有abbrlink的话就不会再自动生成了，所以第一次自动生成abbrlink后再改文章标题链接也不会变)
# 但我用的是 GitHub Action 部署，自动生成的 abbrlink 不会传到 GitHub 上(每篇文章都没有abbrlink，所以每次上传部署都会重新生成abbrlink)，所以改文章标题会让重新生成的 abbrlink 变掉，文章的链接也会变
abbrlink:
  alg: crc32      #support crc16(default) and crc32
  rep: hex        #support dec(default) and hex
  drafts: false   #(true)Process draft,(false)Do not process draft. false(default) 
  # Generate categories from directory-tree
  # depth: the max_depth of directory-tree you want to generate, should > 0
  auto_category:
    enable: true  #true(default)
    depth:        #3(default)
    over_write: false 
  auto_title: false #enable auto title, it can auto fill the title by path
  auto_date: false #enable auto date, it can auto fill the date by time today
  force: false #enable force mode,in this mode, the plugin will ignore the cache, and calc the abbrlink for every post even it already had abbrlink. This only updates abbrlink rather than other front variables.

permalink_defaults: null
pretty_urls:
  trailing_index: true
  trailing_html: true
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: ':lang'
skip_render: null
new_post_name: ':title.md'
default_layout: post
titlecase: false
external_link:
  enable: true
  field: site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: false  # 启用文章资源文件夹, 默认 false ; 设置为 true 后新建文章会在source/_posts中会生成文章article_name.md和同名文件夹article_name。将图片资源放在article_name文件夹中，文章就可以使用相对路径引用图片资源了。
relative_link: false
future: true
syntax_highlighter: highlight.js
highlight:
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
  exclude_languages: ['mermaid']
prismjs:
  preprocess: true
  line_number: true
  tab_replace: ''
  exclude_languages: ['mermaid']
index_generator:
  path: ''
  per_page: 10
  order_by: '-date'
default_category: uncategorized
category_map: null
tag_map: null
meta_generator: true
date_format: YYYY-MM-DD
time_format: HH:mm:ss
updated_option: mtime
per_page: 10
pagination_dir: page
include: []
exclude: []
ignore: null

# 会优先查找 ./themes 中有没有xxx同名文件夹(若有里面得放GitHub下载的源码，否则生成页面为空)
# 若无则查找 ./node_moudules 中有没有 hexo-theme-xxx 
# (推荐全用 npm/pnpm 下载，省的GitHub Action每次 都要改，因为有些主题作者自己的.gitignore设置了不上传GitHub)
theme: butterfly # butterfly vivia

# 使用  hexo-theme-vivia  主题要禁用归档页面的分页:  [若不添加此配置归档页最多只能显示 10 篇文章]  修改 _config.yml 填写下列配置:
# archive_generator:
#   per_page: 0

deploy:
  type: ''

# hexo-generator-searchdb 本地搜索设置
search:
  path: search.xml
  field: all
  content: true
  format: html

email: 870050851@qq.com

mathjax:
  tags: none # or 'ams' or 'all'
  single_dollars: true # enable single dollar signs as in-line math delimiters
  cjk_width: 0.9 # relative CJK char width
  normal_width: 0.6 # relative normal (monospace) width
  append_css: true # add CSS to pages rendered by MathJax
  every_page: true # if true, every page will be rendered by MathJax regardless the `mathjax` setting in Front-matter
  packages: # extra packages to load
  extension_options: {}
    # you can put your extension options here
    # see http://docs.mathjax.org/en/latest/options/input/tex.html#tex-extension-options for more detail

githubEmojis:
  enable: true
  className: github-emoji
  inject: true
  styles:
    display: inline
    vertical-align: middle # Freemind适用
  customEmojis:
